body {
  background-color: #e5f4fd;

  font-family: sans-serif;
}
.navbar {
  width: 100%;
  background-color: #507fc7;
  padding: 15px 0px 15px 0px;
  list-style: none;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  justify-items: flex-start;
  padding: 5px;
}

.navbar li {
  display: inline-block;
  padding: 0px;
}

.nav-img {
  width: 50px;
  height: 30px;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #5071c7;
}

/* Current/active navbar link */
.active {
  background-color: #5071c7;
}

.text {
  text-align: center;
  font-family: 'bookman';
}

h1 {
  color: #507fc7;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}

.project-cat {
  text-align: center !important;
}

.quote {
  text-align: center;
}
.big-logo {
  display: flex;
  justify-content: center;
}

.project-background {
  padding: 20px;
}

.contact-arrow {
  width: 200px;
  height: 10%;
}
.contact-arrow-container {
  display: flex;
  justify-content: center;
}
.contact-img {
  width: 40%;
  /* padding: 100px; */
}
.github-img {
  width: 50px;
}

p {
  padding: 7%;
  text-align: left;
}
.content {
  background-color: #507fc7;
  padding: 10px;
  border-radius: 25px;
}
.column {
}
.middle {
  display: flex;
  justify-content: center;
}
.img-style {
  width: 100%;
  border-radius: 20px;
}
@media only screen and (min-width: 768px) {
  .navbar {
    padding: 5px 0px 5px 0px;
    list-style: none;
  }
  .navbar ul {
    display: flex;
    justify-content: right;
    align-self: center;

    padding: 5px;
  }

  .navbar li {
    display: inline-block;
    padding: 0px;
  }
  .navbar a {
    font-size: 25px;
  }
  .nav-img {
    width: 70px;
    height: 40px;
  }
  .github-img {
    width: 120px;
  }
  .img-style {
    width: 100%;
    align-content: center;
    border-radius: 20px;
  }
  .content {
    padding: 10px;
    text-align: center;
    border-radius: 25px;
  }
  p {
    text-align: center;
    font-size: 25px;
  }
  .project-background {
    padding: 20px;
    width: 300px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-me-p {
    text-align: left;
  }
}

@media only screen and (min-width: 1080px) {
  .navbar a {
    font-size: 25px;
  }
  .nav-img {
    width: 70px;
    height: 40px;
  }
  .github-img {
    width: 170px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
  p {
    font-size: 20px;
  }
  .home-logo {
    width: 380px;
  }
  .about-me-p {
    padding: 60px;
  }
  .content {
    background-color: #507fc7;
    padding: 10px;
    border-radius: 25px;
  }
}
